{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
{% for listing in active_listings %}
<div class="listing-container">
    <div class="hstack">
        <div class="listing-image-container">
        {% if listing.image_url%}
            <img class="listing-image center" src="{{ listing.image_url }}">
        {% else %}
            <img class="no-image-icon center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png">
        {% endif %}
        </div>
        <div class="vstack">
            <h4>{{ listing.title }}</h4>
            <p><strong>Price: </strong>${{ listing.price }}</p>
            {% if listing.description %}
            <p>{{ listing.description }}</p>
            {% endif %}
            <a href="{% url 'listing' listing.id %}">View listing</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}