{% extends 'auctions/layout.html' %}

{% block title %}
Listing | {{ listing.title }}
{% endblock %}

{% block body %}
<h2>Listing: {{ listing.title }}</h2>
<div>
    {% if is_watching %}
    <a href="{% url 'watchlist_remove' listing.id %}">Remove from watchlist</a>
    {% else %}
    <a href="{% url 'watchlist_add' listing.id %}">Add to watchlist</a>
    {% endif %}
</div>
<div>
    {% if listing.image_url %}
    <img src="{{ listing.image_url }}" alt="Picture of {{ listing.title }}"/>
    {% else %}
    <img class="no-image-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png">
    {% endif %}
</div>
<p>{{ listing.description|default:"No description provided." }}</p>
<h4>
    ${{ listing.price|stringformat:".2f" }}
</h4>
<div>
    <p>{{ bid_count }} bid(s) so far. {% if is_highest_bidder %} You are the highest bidder {% else %} You are not the highest bidder. {% endif %}</p>
    <form class="bid-form" action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Place bid">
    </form>
</div>
<h4>Details</h4>
<ul>
    <li>Listed by: {{ listing.owner.username }}</li>
    <li>Category: {{ category|default:"No category provided."}}</li>
</ul>
{% endblock %}